<a href="https://colab.research.google.com/github/bikash086-ctrl/ML.now_GirlScript/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
cd'/content/drive/MyDrive/student/student'

/content/drive/MyDrive/student/student

In [4]:
ls

student-mat.csv  student-merge.R  student-por.csv  student.txt
student-mat.csv  student-merge.R  student-por.csv  student.txt

In [5]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import os

In [9]:
MathData=pd.read_csv('student-mat.csv',sep=';')

In [10]:
MathData.tail()

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
390     MS   M   20       U     LE3       A  ...     5       4       11   9   9   9
391     MS   M   17       U     LE3       T  ...     4       2        3  14  16  16
392     MS   M   21       R     GT3       T  ...     3       3        3  10   8   7
393     MS   M   18       R     LE3       T  ...     4       5        0  11  12  10
394     MS   M   19       U     LE3       T  ...     3       5        5   8   9   9

[5 rows x 33 columns]